<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html>


<head>
    <meta charset="utf-8">
    <title>{% block title %}Django Auth Tutorial{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">


    <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/moralis/dist/moralis.js"></script>
    <script type="text/javascript" src="{% static 'main/js/moralis.js' %}"></script>

{% block css %}
{% endblock css %}
<link rel="stylesheet" href="{% static 'main/css/main.css' %}" type = "text/css"/>

<nav class="navbar navbar-expand-lg navbar-light navbar-custom">
    <img src="{% static "main/img/logo_roster.png" %}" style="height: 50px;width: 50px" >
  <a class="navbar-brand" href="#" style="font-size: 40px;font-weight: bolder">TALPAK</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'home' %}">Starter Pack <span class="sr-only" style="">(current)asdadsaa</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'market_place' %}">Market Place</a>
      </li>
                           <li class="nav-item">
        <a class="nav-link" href="{% url 'cockpit' %}">Cockpit</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'my_rooster' %}">My Rooster</a>
      </li>
              <li class="nav-item">
        <a class="nav-link" href="{% url 'breeding' %}">Breeding</a>
      </li>

    <div class="container">
        <button id="login_button" onclick="init()">Sign in with MetaMask</button>
    </div>
    </ul>
  </div>
</nav>

</head>
<body style="">
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>

